@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);

    --font-family: 'Poppins', sans-serif;
    --font-size-body-copy: 15px;

    --fw-body-copy-200: 200;
    --fw-body-copy-400: 400;
    --fw-body-copy-600: 600;

    --width-mobile: 375px;
    --width-desktop: 1440px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body-copy);
    background-color: var(--color-very-light-gray);
    height: 100dvh;
}

.container {
    max-width: var(--width-desktop);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
}

.encabezado {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.title-encabezado {
    font-weight: var(--fw-body-copy-200);
    font-size: 2rem;
    color: var(--color-very-dark-blue);
}

.title-encabezado span {
    font-weight: var(--fw-body-copy-600);
}

.subtitle-encabezado {
    color: var(--color-very-dark-blue);
    padding: 20px 0;
}

.cards {
    width: 80%;
    display: grid;
    grid-template-areas:
        "supervisor team-builder calculator"
        "supervisor karma calculator";
    margin: 0 auto;
    gap: 30px;
    padding-top: 20px;
}

.card {
    padding: 20px;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px var(--color-grayish-blue);
    background-color: white;
}

.title-card {
    color: var(--color-very-dark-blue);
}

.card-supervisor {
    grid-area: supervisor;
    border-top: 4px solid var(--color-cyan);
}

.card-team-builder {
    grid-area: team-builder;
    border-top: 4px solid var(--color-red);
}

.card-calculator {
    grid-area: calculator;
    border-top: 4px solid var(--color-blue);
}

.card-karma {
    grid-area: karma;
    border-top: 4px solid var(--color-orange);
}

.icon-card {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.icon-image {
    display: block;
    width: 48px;
}

.description-card {
    color: var(--color-grayish-blue);
}

.attribution {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-very-dark-blue);
    padding: 40px;
}

.attribution a {
    color: var(--color-cyan);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .encabezado {
        width: 80%;
    }

    .title-encabezado {
        font-size: 1.4rem;
    }

    .subtitle-encabezado {
        font-size: 0.9rem;
    }

    .cards {
        width: 80%;
        grid-template-areas:
            "supervisor"
            "team-builder"
            "karma"
            "calculator";
    }
}